@media screen and (min-width: 1200px){
    
    ul li{
        display: inline;
        padding: 30px;
    }
    nav{
        padding: 25px;
        
    }
    .headerdiv{
        margin: 10px 100px;
    }
    
    .headerdiv__listdiv{
       /* float: left; */
       padding-left:  300px;
       font-size: 20px;
       display: inline;
    }
    .home:hover{
        color: grey;
    }
    
    .signup{
        float:right;
        /* margin-left: 450px; */
        margin-top: -44px;
        height: 45px;
        width: 110px;
        background-color:#0285E4;
        border-radius: 20px;
    }
    .sign{
        color: white;
         margin: 13px;
         text-align: center;
}
.fastestdiv{
    height: 1050px;
    width: 100%;
    background-color: #0285E4;

}
.fastest{
    color: white;
    text-align: center;
    padding: 80px;
}
.card1{
    height: 650px;
    width:400px;
    background-color: #FFFFFF;
    float: left;
    margin-left: 250px;
    border-radius: 7px;
    margin-bottom: 70px;
}
.card2{
    height: 650px;
    width:400px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 7px;
    margin-bottom: 70px;
}
.pro{
    padding: 30px;
}
.dwith{
    color: black;
    font-weight:bolder;
    font-size: 20px;
    padding-left:10px;
}
.doyou{
    padding-left: 10px;
}
.facebook{
    color: grey;
    font-weight: 800;
    padding: 28px;
}
.num{
    float: right;
    margin-top: -50px;
    margin-right:10px;
    font-weight: 800;
    color: grey;
}
.line1{
    clear: both;
    height: 10px;
    width: 200px;
    background-color: #2CD9C5;
    float:left;
    margin-left: 10px;
}
.line2{
    width: 120px;
    height: 10px;
    background-color:#F3F5F8;
    float: left;
}
.line12{
    clear: both;
    height: 10px;
    width: 160px;
    background-color: #2D99FF;
    float:left;
    margin-left: 10px;
}
.line22{
    width: 190px;
    height: 10px;
    background-color:#F3F5F8;
    float: left;
}
.line13{
    clear: both;
    height: 10px;
    width: 150px;
    background-color:#826AF9;
    float:left;
    margin-left: 10px;
    
}
.line23{
    width: 190px;
    height: 10px;
    background-color:#F3F5F8;
    float: left;
}
.line14{
    clear: both;
    height: 10px;
    width: 50px;
    background-color:#FFE700;
    float:left;
    margin-left: 10px;
    
}
.line24{
    width: 300px;
    height: 10px;
    background-color:#F3F5F8;
    float: left;
}
.oval{
    padding: 80px;
}
.forfree{
    height: 40px;
    width: 200px;
    background-color:white;
    clear: both;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 670px;
}
.opentype{
    height: 700px;
    width: 100%;
    background-color:#E1F1FD;

}
.open{
    height:350px;
    width: 500px;
    margin-left:220px;
    margin-top: 80px;
    float:left;
}
.photo{
    height:600px;
    width: 300px;
    float: left;
    margin-top: 80px;
}
.most{
    margin-top: 30px;
}
.enter{
    height: 50px;
    width: 220px;
    background-color: white;
    clear: both;
    float: left;
    /* margin-top: 70px; */
    margin-right: 20px;
    border-radius: 20px;
    padding: 15px;
    margin-left: -25px;
}
.subscribe{
    height: 50px;
    width: 140px;
    background-color: #0285E4; 
    float: left;
    /* margin-top: 70px; */
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin-left: -1px;
}
.workdiv{
    height: 500px;
    width: 100%;
    background-color: #FFFFFF;
    clear: both;
}
.work{
    text-align: center;
    font-weight: bolder;
    padding: 60px;
    margin-right: 200px;
}
.being{
    text-align: center;
    color: grey;
    margin-right: 100px;
}
.bigline{
    margin-left: 460px;
    margin-top: 80px;
}
.bigline1{
    width: 370px;
    height: 10px;
    background-color:#0285E4;
    float: left;
}
.bigline2{
    width: 290px;
    height: 10px;
    background-color:#F3F5F8;
    float: left;
}

.tryfor2{
    height: 50px;
    width: 200px;
    background-color:#0285E4;
    border-radius: 20px;
    margin-left: 640px;
    margin-top: 160px;
    
}
.try{
    color: white;
    text-align: center;
    padding: 14px;
}
.lastdiv{
    height: 111px;
    width: 100%;
    background-color:#112D57 ;
    display: block;
}
.lastdiv1{
    float: left;
    padding:25px;
}
.lastdiv2{
    float: left;
    color: white;
    margin-left: 360px;
    padding: 40px;   
}
.lastdiv3{
    float: right;
    color: white;
    padding: 40px;
    margin-left: 50px;
}
.fab facebook{
 padding: 50px;
}
.fb,.tweet,.linked{
    float: left;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 30px;
}
}